#map {
  height: 400px;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid #999;
}

#head1 {
  padding-top: 2rem;
}

#caption {
  background: #7befbd;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
}

body {
  background: #bff7df;
}

#head2 {
  color: #FFFFFF;
  padding-top: 2rem;
}

#news  {
  background: #36454f;
}

#map2 {
  height: 500px;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid #999;
}

#newsCaption {
  color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem;
}

@media (max-width: 950px) {
  #caption {
    padding:0;
    margin:0;
  }
  #newsCaption {
    padding:0;
    margin:0;
    }
  #head1 {
    padding:0;
    margin:0;
  }
  #head2 {
    padding:0;
    margin:0;
  }
  #map2 {
    margin-top:0;
  }
  }
